body {
  position: relative; /* For scrollyspy */
  padding-top: 50px; /* Account for fixed navbar */
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  /*font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; */
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;  
}

/* Page headers */
.bf-header {
  padding: 30px 30px 40px;
  font-size: 16px;
  color: #5a5a5a;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.bf-header p {
  font-weight: 300;
  line-height: 1.5;
}
.bf-header .container {
  position: relative;
}

.bf-docs-section + .bf-docs-section {
  padding-top: 20px;
}

/* Tablets and up */
@media screen and (min-width: 768px) {

  .bf-header {
    font-size: 21px;
    text-align: left;
  }
  .bf-header h1 {
    font-size: 60px;
    line-height: 1;
  }
  
}

/* Tablets/desktops and up */
@media screen and (min-width: 992px) {
  .bf-header h1,
  .bf-header p {
    margin-right: 380px;
  }
}


