/* Page headers */
.bf-header {
  padding: 30px 30px 40px;
  font-size: 16px;
  color: #5a5a5a;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.bf-header p {
  font-weight: 300;
  line-height: 1.5;
}
.bf-header .container {
  position: relative;
}

.bf-docs-section + .bf-docs-section {
  padding-top: 20px;
}
